{% extends 'administrator/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %}{{ action }} Reinventor{% endblock %}

{% block static_up %}
<link href="{% statics_tag 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="{% statics_tag 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- bootstrap-datetimepicker -->
<link href="{% statics_tag 'vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
<!-- Bootstrap Colorpicker -->
<link href="{% statics_tag 'vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

<link href="{% statics_tag 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

<link href="{% statics_tag 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title_page %}{% endblock %}

{% block sub_title_page %}
{{ action }} Solicitud
{% endblock %}

{% block menu_action %}
<style>
.timeline .block {
    margin-left: 180px;
}

.timeline .tags {
    width: 164px;
}
</style>
<ul class="nav navbar-right panel_toolbox">
    <li>

        {% if action == 'Crear' %}
        <button type="submit" class="btn btn-info btn-sm" form="form">{{ action }} Solicitud <i class="fa fa-floppy-o"></i></button>
        {% endif %}

        <button type="button" class="btn btn-info btn-sm"
                onclick="redirectToUrl('{{ linkBack }}')">Volver <i
                    class="fa fa-arrow-left"></i></button>
    </li>
</ul>
{% endblock %}

{% block content_page %}

<ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Solicitud</a>
    </li>
    {% if action == 'Editar' %}
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Seguimiento</a>
    </li>
    {% endif %}
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form method="post" id="form" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="{{ form.wrr_date.id_for_label }}">{{ form.wrr_date.label }}</label>
                        <div class='input-group date'>
                            {{ form.wrr_date }}
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="{{ form.wrr_quantityliters.id_for_label }}">{{ form.wrr_quantityliters.label }}</label>
                        {{ form.wrr_quantityliters }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.wrr_estaterequest.id_for_label }}">{{ form.wrr_estaterequest.label }}</label>
                        {{ form.wrr_estaterequest }}
                    </div>
                </div>

                
            </div>
        </form>
    </div>
    {% if action == 'Editar' %}
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="x_content">
            <ul class="list-unstyled timeline" style="overflow: scroll; max-height: 400px;">
    
                {% for object in objectsObservations %}
    
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="" class="tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ object.user.email }}">
                                <span>{{ object.user.email }}</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>{{ object.user.first_name | upper }} {{ object.user.last_name | upper }}</a>
                            </h2>
                            <div class="byline">
                                <span>{{ object.created|date:"Y/m/d H:i:s" }}</span>
                            </div>
                            <p class="excerpt">{{ object.rt_observation|safe }}</p>
                            
                            {% if forloop.last %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">Observación</button>
                            {% endif %}
                        </div>
                    </div>
                </li>

                {% endfor %}

    
            </ul>
        </div>
        

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <form method="post" id="form-observation" enctype="multipart/form-data"></form>
                    {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Respuesta</h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4></h4>
                            
                            <div class="form-row">
                                <div class="form-group col-12">
                                    {{ form.rt_observation }}
                                </div>        
                            </div>
                            <textarea name="respuesta" id="respuesta" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="save-response" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    {% endif %}
</div>



{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger mt-4" role="alert">
{% else %}
<div class="alert alert-success mt-4" role="alert">
{% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex align-items-center justify-content-start">
        <i class="icon ion-ios-{% if message.tags == 'error' %}close{% else %}checkmark{% endif %} alert-icon tx-32 mg-t-5 mg-xs-t-0"></i>
        <span><strong>{% if message.tags == 'error' %}Error{% else %}Éxito{% endif %}: </strong> {{ message }}</span>
    </div><!-- d-flex -->
</div><!-- alert -->
{% endfor %}
{% endif %}

<script>

    $(document).ready(function() {
        $('.select2-show-search').select2();
    });
    const redirectToUrl = (url) => {
        location.href = url;
    }

    const editClient = (url) => {
        location.href = url;
    }

    const deleteClient = (url) => {
        $.confirm({
            title: 'Confirmación',
            content: 'Esta eguro de eliminar al usuario?, para eliminar haga clic confirmar, de lo contrario cancelar',
            buttons: {
                confirmar: function () {
                    location.href = url;
                },
                cancelar: function () {
                    $.alert('Operación cancelada');
                },
            }
        });
    }

    $('#save-response').click(function() {
        var respuesta = $('#respuesta').val();
        if (respuesta.length === 0) {
            $.alert('El campo respuesta es obligatorio');
            return;
        }

        $.ajax({
            url: '{% url 'reinventa_app:new_observation' %}',
            type: 'POST',
            dataType: 'json',
            data: {
                'respuesta': respuesta,
                'wrr_id': '{{ wrr_id }}'
            },
            success: function(data) {
                location.reload();
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    });
    
</script>

{% endblock %}

{% block static_down %}
<script src="{% statics_tag 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% statics_tag 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% statics_tag 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap-datetimepicker -->    
<script src="{% statics_tag 'vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% statics_tag 'vendors/select2/dist/js/select2.min.js' %}"></script>

<script>
    $('#id_wrr_date').datetimepicker({
        format: 'YYYY-MM-DD'
    });
</script>

{% endblock %}