__pycache__
env
**/migrations/!(__init__.py)
db.sqlite3
.vscode/launch.json
.env

*.pyc
*.jpg
*.png
*.xlsx

nbproject
npm-debug.log
node_modules
.sass-cache

local.py
prod.py

static/*
applications/account/migrations/0001_initial.py
