{% extends 'administrator/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %}{{ action }} Reinventor{% endblock %}

{% block static_up %}
<!-- bootstrap-daterangepicker -->
<link href="{% statics_tag 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- bootstrap-datetimepicker -->
<link href="{% statics_tag 'vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
<!-- Bootstrap Colorpicker -->
<link href="{% statics_tag 'vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

<link href="{% statics_tag 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

<link href="{% statics_tag 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title_page %}{% endblock %}

{% block sub_title_page %}
{{ re_nameentity | upper }}: {{ action | title }} Usuario
{% endblock %}

{% block menu_action %}
<ul class="nav navbar-right panel_toolbox">
    
    <li>
        <button type="submit" class="btn btn-info btn-sm" form="form">Guardar <i class="fa fa-floppy-o"></i></button>

        <button type="button" class="btn btn-info btn-sm"
                onclick="redirectToUrl('{% url 'reinventa_app:edit-reinventor' re_id %}')">Volver <i
                    class="fa fa-arrow-left"></i></button>
    </li>
</ul>
{% endblock %}

{% block content_page %}

<form method="post" id="form" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-4">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <div class="form-group col-4">
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>
        <div class="form-group col-4">
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-4">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div class="form-group col-4">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
        </div>        
    </div>

</form>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger mt-4" role="alert">
{% else %}
<div class="alert alert-success mt-4" role="alert">
{% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex align-items-center justify-content-start">
        <i class="icon ion-ios-{% if message.tags == 'error' %}close{% else %}checkmark{% endif %} alert-icon tx-32 mg-t-5 mg-xs-t-0"></i>
        <span><strong>{% if message.tags == 'error' %}Error{% else %}Éxito{% endif %}: </strong> {{ message }}</span>
    </div><!-- d-flex -->
</div><!-- alert -->
{% endfor %}
{% endif %}

<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('.select2-show-search').select2();
    });

    const redirectToUrl = (url) => {
        location.href = url;
    }    
</script>

{% endblock %}

{% block static_down %}
<!-- bootstrap-daterangepicker -->
<script src="{% statics_tag 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% statics_tag 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap-datetimepicker -->    
<script src="{% statics_tag 'vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% statics_tag 'vendors/select2/dist/js/select2.min.js' %}"></script>

{% endblock %}