{% extends 'administrator/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %}{{ action }} Reinventor{% endblock %}

{% block static_up %}
<!-- bootstrap-daterangepicker -->
<link href="{% statics_tag 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- bootstrap-datetimepicker -->
<link href="{% statics_tag 'vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
<!-- Bootstrap Colorpicker -->
<link href="{% statics_tag 'vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

<link href="{% statics_tag 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

<link href="{% statics_tag 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title_page %}{% endblock %}

{% block sub_title_page %}
{{ action | title }} Usuario
{% endblock %}

{% block menu_action %}
<ul class="nav navbar-right panel_toolbox">
    
    <li>
        <button type="submit" class="btn btn-info btn-sm" form="form">Guardar <i class="fa fa-floppy-o"></i></button>

        {% if action == 'editar' %}
        <button type="button" class="btn btn-info btn-sm"
            onclick="redirectToUrl('{% url 'reinventa_app:add-user' %}')">Crear otro Reinventor <i
                class="fa fa-clipboard"></i></button>
        {% endif %}

        <button type="button" class="btn btn-info btn-sm"
                onclick="redirectToUrl('/ver-user/')">Volver <i
                    class="fa fa-arrow-left"></i></button>
    </li>
</ul>
{% endblock %}

{% block content_page %}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Reinventa / Usuario Reinventa</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                <div class="input-group">

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="">
        <div class="col-md-6 col-sm-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-user"></i> <small>Usuario</small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form method="post" id="form" action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                for="{{ form.email.id_for_label }}">{{ form.email.label }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                for="{{ form.username.id_for_label }}">{{ form.username.label }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                {{ form.username }} <small>{{ form.username.help_text }}</small>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                for="{{ form.password.id_for_label }}">{{ form.password.label }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                {{ form.password }}
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">

                                <button type="submit" class="btn btn-success">Guardar</button>

                                {% if action == 'editar' %}
                                <button type="button" class="btn btn-info"
                                    onclick="redirectToUrl('{% url 'reinventa_app:add-user' %}')">Crear otro Reinventor <i
                                        class="fa fa-clipboard"></i></button>
                                {% endif %}

                                <button type="button" class="btn btn-info"
                                        onclick="redirectToUrl('/ver-user/')">Volver <i
                                        class="fa fa-arrow-left"></i></button>
                            </div>
                        </div>

                    </form>

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger mt-4" role="alert">
                    {% else %}
                    <div class="alert alert-success mt-4" role="alert">
                    {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="d-flex align-items-center justify-content-start">
                            <i class="icon ion-ios-{% if message.tags == 'error' %}close{% else %}checkmark{% endif %} alert-icon tx-32 mg-t-5 mg-xs-t-0"></i>
                            <span><strong>{% if message.tags == 'error' %}Error{% else %}Éxito{% endif %}: </strong> {{ message }}</span>
                        </div><!-- d-flex -->
                    </div><!-- alert -->
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('.select2-show-search').select2();
    });

    const redirectToUrl = (url) => {
        location.href = url;
    }    
</script>

{% endblock %}

{% block static_down %}
<!-- bootstrap-daterangepicker -->
<script src="{% statics_tag 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% statics_tag 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap-datetimepicker -->    
<script src="{% statics_tag 'vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% statics_tag 'vendors/select2/dist/js/select2.min.js' %}"></script>

{% endblock %}