{% extends 'administrator/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %}Listado Reinventores{% endblock %}

{% block static_up %}
<!-- Datatables -->

<link href="{% statics_tag 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
    rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% statics_tag 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">


{% endblock %}

{% block title_page %}{% endblock %}

{% block sub_title_page %}
Listado de Reinventores
{% endblock %}

{% block menu_action %}
<ul class="nav navbar-right panel_toolbox">
    <li>
        <button type="button" class="btn btn-info btn-sm" onclick="redirectToUrl('{% url 'reinventa_app:add-reinventor' %}')">Nuevo cliente <i class="fa fa-plus-circle"></i></button>
    </li>
    <li>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">Carga masiva <i class="fa fa-plus-circle"></i></button>
    </li>
</ul>
{% endblock %}

{% block content_page %}
<table id="datatable" class="table table-striped table-bordered datatable" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Latitud y Longitud</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for object in objectData %}
        <tr>
            <td>{{ object.re_id }}</td>
            <td>{{ object.re_nameentity }}</td>
            <td>{{ object.re_createaddress }}</td>
            <td>
                {% if object.re_latitude and object.re_longitude %}
                    {{ object.re_latitude }}, {{ object.re_longitude }}
                {% else %}
                    Sin asignar
                {% endif %}
            </td>
            <td><button type="button" class="btn btn-info btn-sm" onclick="redirectToUrl('{% url 'reinventa_app:edit-reinventor' object.re_id %}')">Editar</button><button type="button"
                    class="btn btn-danger btn-sm" onclick="deleteClient('{% url 'reinventa_app:delete-reinventor' object.re_id %}')">Eliminar</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Carga masiva reinventores</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Cargar excel (.xls, .xlsx)</h4>
                <input type="file" name="file-excel" id="file-excel" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="download_file_excel()">Descargar plantilla</button>
                <button type="button" class="btn btn-primary" onclick="upload_excel()">Subir Excel</button>
            </div>
        </div>
    </div>
</div>

<script>
    const redirectToUrl = (url) => {
        location.href = url;
    }

    const deleteClient = (url) => {
        $.confirm({
            title: 'Confirmación',
            content: 'Esta eguro de eliminar al reinventor?, para eliminar haga clic confirmar, de lo contrario cancelar',
            buttons: {
                confirmar: function () {
                    location.href = url;
                },
                cancelar: function () {
                    $.alert('Operación cancelada');
                },
            }
        });
    }


    const upload_excel = () => {
        const fileInput = document.getElementById('file-excel');
        const file = fileInput.files[0];

        // Verificar si se seleccionó un archivo
        if (!file) {
            $.alert({
                title: 'Alerta!',
                content: 'Debes seleccionar un archivo para continuar.',
            });
            return;
        }

        const allowedExtensions = [".xls", ".xlsx"];
        const extension = file.name.substring(file.name.lastIndexOf(".")).toLowerCase();
        let itIsAllowed = false;

        for (let i = 0; i < allowedExtensions.length; i++) {
            if (allowedExtensions[i] === extension) {
                itIsAllowed = true;
                break;
            }
        }

        if (itIsAllowed) {
            // Archivo con extensión permitida, proceder con la conversión a base64
            const reader = new FileReader();

            reader.onload = function () {
                const base64String = reader.result.split(',')[1];
                // Enviar el archivo en base64 a un endpoint con fetch
                enviarArchivo(base64String);
            };

            reader.readAsDataURL(file);
        } else {
            $.alert({
                title: 'Alerta!',
                content: 'El archivo seleccionado no tiene una extensión válida.',
            });
            return;
        }
    };

    const enviarArchivo = (base64String) => {
        // Aquí debes proporcionar la URL de tu endpoint

        $.ajax({
            url: '{% url 'reinventa_app:upload_file' %}',
            type: 'POST',
            dataType: 'json',
            data: {
                'file_data': base64String,
            },
            success: function(data) {
                $.confirm({
                    title: 'Confirmación',
                    content: 'Archivo cargado correctamente, presione aceptar para ver los cambios.',
                    buttons: {
                        aceptar: function () {
                            location.reload();
                        }
                    }
                });
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    };

    const download_file_excel = () => {
        $.ajax({
            url: '{% url 'reinventa_app:download_excel_for_upload_reinventor' %}',
            type: 'POST',
            dataType: 'json',
            success: function(data) {
                if (data && data.response.message) {
                    // Llamada a la función para convertir y descargar el archivo Excel
                    base64ToExcel(data.response.message, 'archivo_excel.xlsx');
                } else {
                    console.error('Error: No se recibió el base64 del servidor.');
                }
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    };

    // Función para convertir la cadena base64 a Excel y descargar el archivo
    function base64ToExcel(base64Data, filename) {
        // Decodificar la cadena base64
        const byteCharacters = atob(base64Data);
        const byteNumbers = new Array(byteCharacters.length);
        for (let i = 0; i < byteCharacters.length; i++) {
            byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        const byteArray = new Uint8Array(byteNumbers);

        // Crear un Blob con los datos decodificados
        const blob = new Blob([byteArray], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

        // Crear un enlace para descargar el archivo
        const link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = filename;

        // Simular un clic en el enlace para iniciar la descarga
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }



    // $('#upload-excel').click(function() {
    //     var file=$("#file-excel").val()

    //     allowed_extensions = new Array(".xls", ".xlsx");
    //     extensions = (file.substring(file.lastIndexOf("."))).toLowerCase();  
    //     it_is_allowed = false; 
    //     for (var i = 0; i < allowed_extensions.length; i++) { 
    //         if (allowed_extensions[i] == extensions) { 
    //             it_is_allowed = true; 
    //             break; 
    //         } 
    //     }

    //     console.log(it_is_allowed)


        // $.ajax({
        //     url: '{% url 'reinventa_app:new_observation' %}',
        //     type: 'POST',
        //     dataType: 'json',
        //     data: {
        //         'respuesta': respuesta,
        //         'wrr_id': '{{ wrr_id }}'
        //     },
        //     success: function(data) {
        //         location.reload();
        //     },
        //     error: function(error) {
        //         console.error('Error:', error);
        //     }
        // });
    // });

    
</script>

{% endblock %}

{% block static_down %}
<!-- Datatables -->
<script src="{% statics_tag 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% statics_tag 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% statics_tag 'vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% statics_tag 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% statics_tag 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>


{% endblock %}