{% load static_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Site under construction</title>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% statics_tag 'assets/styles/style.css' %}" />

    <style>
        .coverPage {
            background-image: url({% statics_tag '/assets/img/001.jpg' %});
        }
    </style>
</head>

<body>
    <div class="coverPage">
        <div class="__coverPage-content">
            <h1>Reinventa</h1>
            <h2>Página en construcción</h2>
            <h3>Muy pronto volveremos con una nueva vista de nosotros <br><strong>YA VOLVEMOS!</strong></h3>
            <p>
                
            </p>
            <div class="socialMedia">
                
            </div>
            <p class="projectsListTitle"></p>
            <div class="projectsList">

            </div>
        </div>
    </div>
</body>

</html>