<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Template</title>


    <link href="/static/gentella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container-fluid{
            background-color: aqua;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #666;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <div class="container-fluid">

        COMPROBANTE DE RETIRO DE DESECHOS DE COCINA {{ base_dir }}
    </div>
</body>
</html>
